<div class="flex text-xl text-justify mx-16">
    <span class="text-center">
        <span class="block skeleton rounded-full h-[250px] w-[250px]"></span>
        <span class="skeleton block mx-auto mt-2 mb-2 min-w-[15rem] max-w-[5rem] min-h-[2rem] rounded-md"></span>
    </span>
    <div class="align-middle h-min my-auto ml-32">
        <span class="skeleton block mb-2 min-w-[10rem] max-w-[5rem] min-h-[2rem] rounded-md"></span>
        <span class="skeleton block mb-2 min-w-[20rem] max-w-[5rem] min-h-[4rem] rounded-md"></span>
        <span class="skeleton block mb-2 min-w-[10rem] max-w-[5rem] min-h-[2rem] rounded-md"></span>
    </div>
</div>
<br />
<div class="w-min mx-auto flex">
    <div><app-repo-skeleton /><app-repo-skeleton /><app-repo-skeleton /></div>
    <div><app-repo-skeleton /><app-repo-skeleton /><app-repo-skeleton /></div>
</div><br /><br />
<div id="page-nav-saction" class="skeleton flex w-max mx-auto rounded-md">
    <button type="button" class="block min-w-[6rem] min-h-[2rem]"></button>
</div>