<div class="m-[0.5rem] h-[200px] w-[600px] border-2 border-black p-2 bg-pink-200">
    <span class="skeleton block mb-2 min-w-[7rem] max-w-[5rem] min-h-[2rem] rounded-md"></span>
    <span class="skeleton block min-w-[35rem] max-w-[35rem] min-h-[5.5rem] max-h-[5.5rem] rounded-md mb-2"></span>
    <span class="flex">
        <span class="skeleton block min-w-[5rem] max-w-[5rem] min-h-[2rem] rounded-lg mr-2">
        </span>
        <span class="skeleton block min-w-[5rem] max-w-[5rem] min-h-[2rem] rounded-lg mr-2">
        </span>
        <span class="skeleton block min-w-[5rem] max-w-[5rem] min-h-[2rem] rounded-lg mr-2">
        </span>
        <span class="skeleton block min-w-[5rem] max-w-[5rem] min-h-[2rem] rounded-lg mr-2">
        </span>
    </span>
</div>